name: Test
on:
  pull_request:
  push:
    branches:
      - master
jobs:

  build:
    name: Test Solution Cases
    runs-on: ubuntu-latest
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '^1.23.0'
      id: go
    - name: Get dependencies
      run:  go mod download
    - name: Test Solutions
      run: make test
